<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimfamily.arduino_car_nodemcu">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_activiy"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".Starting_Logo"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="telnet.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".DB_select"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="algorithim_dev_classis.Button_allocate"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="telnet.SettingsActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name="algorithim_dev_classis.Algorithm_dev_activity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="algorithim_dev_classis.Algorithm_dev_activity_db"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_settings" >
        </activity>

    </application>

</manifest>